*{box-sizing: border-box;}
body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
}

form{
	max-width: 250px;
	max-height: 900px;
	margin: 10px auto;
	padding: 5px 5px;
	background: #f49F9C;
	border-radius: 8px;	
}